<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
    <div class="px-4">
        <img src="{{ image_address }}" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
        <div class="pt-4 text-center">
            <h5 class="title">
                <span class="d-block mb-1">{{ name}}</span>
                <small class="h6 text-muted">{{ profession }}</small>
            </h5>
            <div class="mt-3">
                <a href="{{ twitter_address }}" target="_blank" class="btn btn-{{ theme }} btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="{{ github_address }}" target="_blank" class="btn btn-{{ theme }} btn-icon-only rounded-circle">
                    <i class="fa fa-github"></i>
                </a>
                <a href="{{ site_address }}" target="_blank" class="btn btn-{{ theme }} btn-icon-only rounded-circle">
                    <i class="fa fa-globe"></i>
                </a>
            </div>
        </div>
    </div>
</div>