<html>

<head>
    <link href="https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha21/dist/font-face.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet"/>
    <style>{{ theme }}</style>
</head>

<body>
    <div class="firstpage">
        <h1>{{ title }}</h1>
        <br/>
        <h3>نوشته شده توسط {{ author }}</h3>
        {% if detail != null %}
            <p>{{ detail }}</p>
        {% endif %}
    </div>
    <div>
        {{ content }}
    </div>
</body>

</html>